<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/global.css">
    <link rel="stylesheet" href="/assets/style/new_products/new_products.css">
    <title>Alura Geek</title>
</head>

<body>
    <nav class="navbar">
        <section class="desktop-nav justify-content">
            <div class="logo">
                <a href="../index.html">
                    <img src="/assets/img/Logo.png" alt="logo">
                </a>
            </div>
            <div class="search">
                <input type="search" name="search" id="input-search" class="input-search"
                    placeholder="O que deseja encontrar?" autocomplete="off">
                <span class="search-icon">
                    <button type="button" id="btnLogin" class="btn-search"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </span>
            </div>
            <div class="btn-login">
                <a href="all_products.html">
                    <button type="button" id="btnLogin" class="btn-login">Menu administrador</button>
                </a>
            </div>
        </section>
        <section class="mobile-nav">
            <a href="../index.html">
                <img src="/assets/img/Logo.png" alt="logo">
            </a>
            <a href="all_products.html">
                <button type="button" id="btnLogin" class="btn-login">Menu administrador</button>
            </a>
            <button type="button" id="btnSearch" class="btn-search"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </section>
    </nav>
    <section class="brandCrowd">
        <div data-brandCrowd_name></div>
        <div class="logout">
            <button type="button"  class="btn-logout" data-logout><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </section>
    <main>
        <section class="login">
            <form data-form_editar>
                <div class="login-form">
                    <input type="text" class="input-login" id="url" placeholder="URL da imagem" data-url   autocomplete="off">
                    <input type="text" class="input-login" id="categoria" placeholder="Categoria" data-category  autocomplete="off">
                    <input type="text" class="input-login" id="product_name" placeholder="Nome do produto"
                        data-product_name  autocomplete="off">
                    <input type="number" class="input-login" id="product_price" placeholder="Preço do produto"
                        data-product_price  autocomplete="off">
                    <input type="text" class="input-login" id="product_description" placeholder="Descrição do produto"
                        data-product_description  autocomplete="off">
                    <button type="submit" class="btn-enter" data-btn-form>Editar produto</button>
                </div>
              
            </form>
        </section>
    </main>
    <footer>
        <!-- footer carregado via js -->
    </footer>
    <script src="/javascript/app/auth.js"></script>
    <script src="/javascript/app/brandCrowd.js"></script>
    <script type="module" src="/javascript/api/controller/UpdateProduct-controller.js"></script>
    <script src="/javascript/app/footer.js"></script>
    <script src="https://kit.fontawesome.com/67f504bb87.js" crossorigin="anonymous"></script>
</body>

</html>